@font-face {font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_2381425_behtwremmi6.eot?t=1613983656593'); /* IE9 */
  src: url('//at.alicdn.com/t/font_2381425_behtwremmi6.eot?t=1613983656593#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALUAAsAAAAABowAAAKFAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBGIE9ATYCJAMICwYABCAFhG0HMBvjBcgekiQBFvaYj1SqAAEIEXy/3+ue+24IQDFoQBWVAroK06hMVWMrdI2IMvUI+l9N2/3Tmqbv+HT5itZUmr9c9lL6ZukaoX4QEo1SCAnCsd5asC55sikFJkn1T8xTkTrxv4PL6X/bN84DymWOyWMCBpYGtDdGkRVQAJyKeCfSHeRjAtX6GSYHVw+hWJVhVSBeFpkUq4WQLCvZSqG84WAWd8pUpjfp4W30/fhqLipJygqoO358mYqTj0B5xesSugoQYYJwvAwFZgmZOG9MHVoQCnlBdWrRMHGs6uAjlEqBRRz1zxPlUFkLennRM4k9yaNWJpCT0TnCxaRNpKGm93hyP/+pmjHGziIMLKoTud108cnvb663gUSfxEpCmRR+Ha1pdXf/bM7n7Z8k6mQvVMyT1J5SeycNfMGgEkEoXLB4c3v7rtvtfh3FyohCo3plzCiqjFdTGBVIYegWJxApni5M/czf+Op/74ydjf+VNRl86HcnMmTDPELlKd3BrxMP7Mm2FOaUTXGjJ5mblEiopigl8DX7m6pru09HqCyIFUgq9EGh0iia8bNQpsYClKu0DdVmXB+v0YIsiFyFaR8chEbfkNS7h0KjHzTjf6FMu38o1xgFVLuMlgtrjMez9X1CyZhC8gqF6lrNrLweV/uYPdaS8tKIGSONRRRcyylnr7FFWmLL+JR5zBo0dQ1ccc9hXXfQU1eiYitn7me2rZveZKmuEev2ESQxlAKJV6CgdFo6GM7WK5/3ocyjmkQdDS3eGCKjYnzgsjgD0GtVO6jhUV4ZPcl4GNOARjoNcMXNQ7VaB/TN80pIYZZ8QqI3Y9MgPVRlba9pfqBQaQH6FDSrUP4KJalcCAAAAA==') format('woff2'),
  url('//at.alicdn.com/t/font_2381425_behtwremmi6.woff?t=1613983656593') format('woff'),
  url('//at.alicdn.com/t/font_2381425_behtwremmi6.ttf?t=1613983656593') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('//at.alicdn.com/t/font_2381425_behtwremmi6.svg?t=1613983656593#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e736";
}
